body {
  width: 100%;
  margin: auto;
  padding-top: 0px;
  height: 1000px;
}

p {
  margin: 0;
}

#hero-Cont {
  margin-top: 0px;
  width: 100%;
  margin: auto;
  height: 700px;
  overflow: hidden;
  display: flex;
  background-color: #7DD1C9;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

#header-Cont {
  width: 100%;
  height: 100px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #1E1E1E;
}

#header-Links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55px;
  padding-top: 5px;
  justify-content: center;
}

#header-Links a {
  color: #fffdd0;
  font-size: 40px;
  font-family: Shrikhand;
  text-decoration: none;
}

#header-Links div {
  margin-right: 50px;
  text-align: center;
  font-weight: lighter;
}

#header-Buzz a {
  font-family: Shrikhand;
  text-decoration: none;
  color: #fffdd0;
  text-shadow: 1px 1px #1e1e1e,
                2px 2px #1e1e1e,
                3px 3px #1e1e1e,
                4px 4px #1e1e1e,
                5px 5px #1e1e1e,
                6px 6px #1e1e1e;
  font-size: 90px;
  letter-spacing: 5px;
}

#header-Buzz {
  grid-area: buzz;
}

#greeting-Cont {
  width: 100%;
  height: 700px;
  display: grid;
  font-family: Merriweather;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #7DD1C9;

  grid-template-areas:
  ". . . . buzz buzz . . . ."
  " hero hero hero hero hero hero hero hero hero hero"
  ". body body body body . link link link ."
  ". body body body body . link link link ."
  ". body body body body . link link link ."
}

#hero-Message {
  grid-area: hero;
  text-align: center;
  margin-bottom: 100px;
}

#hero-Message p {
  font-family: Merriweather;
  color: #302E30;
  font-size: 50px;
}

#greeting-Body {
  grid-area: body;
  color: #302E30;
  font-size: 30px;
  padding-top: 80px;
}

#greeting-Links {
  grid-area: link;
  background-color: #4D827E;
  border-radius: 5%;
  opacity: 0.8;
  height: 260px;
}

#greeting-Link {
  font-family: Shrikhand;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  color: black;

}

#hair-Type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hair-TypeC {
  width: 100px;
  background-color: black;
  height: 30px;
  border-radius: 20%/50%;
  font-size: 17px;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.hair-TypeC:hover {
  cursor: pointer;
}

#name {
  height: 30px;
  width: 60%;
  margin: auto;
  background-color: #EEFFFD;
}

#name-Link p {
  font-size: 50px;
}

#submit-Cont {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#submit {
  width: 100px;
  background-color: black;
  height: 30px;
  border-radius: 20%/50%;
  font-size: 17px;
  color: white;
  text-align: center;
  padding-top: 5px;
}

#submit:hover {
  cursor: pointer;

}

#date {
  width: 60%;
  margin: auto;
  height: 30px;
  background-color: #EEFFFD;
}


/* ------MAIN------ */

.main-Statement-Cont {
  width: 100%;
  text-align: center;
  background-color: #1e1e1e;
  padding-top: 100px;
  color: #fffdd0;
  font-family: merriweather;
  font-size: 50px;
}


#main-Top-Cont {
  width: 100%;
  height: 590px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: #1e1e1e;

  grid-template-areas:

  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop ."
  ". leftTop leftTop leftTop leftTop . rightTop rightTop rightTop rightTop .";
  padding-top: 50px;
}

#leftTop-Cont {
  grid-area: leftTop;
  background-color: white;
  border-radius: 5%/5%;
  opacity: 0.8;
}

#rightTop-Cont {
  grid-area: rightTop;
  background-color: white;
  border-radius: 5%/5%;
  opacity: 0.8;
  padding-top: 30px;
}

#rightTop-Text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rightTop-Text p {
  color: #1e1e1e;
  font-family: Merriweather;
}

#leftTop-Header p {
  font-size: 35px;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 5px;
}

#leftTop-Header {
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 60px;
  font-family: Merriweather;
  text-align: center;
  margin-bottom: 25px;
}

#rightTop-Body {
  background-color: #1e1e1e;
  color: #fffdd0;
  margin: auto;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1%/5%;
}

#rightTop-Body p {
  text-align: center;
  font-family: Merriweather;
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 25px;
}

#rightTop-Header p {
  text-align: center;
  font-family: Merriweather;
  color: white;
  font-size: 25px;

}

#rightTop-Logo p {
  font-size: 80px;
  font-family: Shrikhand;
  color: #fffdd0;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px #1e1e1e,
                2px 2px #1e1e1e,
                3px 3px #1e1e1e,
                4px 4px #1e1e1e,
                5px 5px #1e1e1e,
                6px 6px #1e1e1e;
}

#rightTop-Header {
  background-color: #1e1e1e;
  color: #fffdd0;
  margin: auto;
  width: 90%;
  border-radius: 1%/5%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#leftTop-Img {
  height: 55vh;
  width: 30vw;
  background-image: url("../images/girl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  background-position: center;
  margin-bottom: 5px;
}
